<center><h1>130 dias de convivência com o novo COVID</h1></center>

Segundo o site do [Ministério da Saúde](https://www.saude.gov.br/noticias/agencia-saude/46435-brasil-confirma-primeiro-caso-de-novo-coronavirus) o primeiro caso registrado no país foi em 26 de fevereiro de 2020. Naquela ocasião, um senhor de 61 anos tinha dado entrada no Hospital Israelita Albert Einstein em São Paulo no dia anterior, após uma viagem à Itália, na região da Lombardia.

De lá pra cá, dia em que foi finalizado este artigo (05 de julho de 2020), o vírus veio se apresentando cada vez mais aos brasileiros, se fazendo presente e mudando nossa rotina bruscamente de tal maneira que somos testados diariamente o quão forte nosso sistema é, seja físico ou mental.

Após 130 dias convivendo com essa nova realidade, conhecemos seus sintomas e seus desfechos que por muitas vezes são fatais e não permite um último adeus.

Dentro deste triste contexto que venho realizar um trabalho de análise de dados da saúde do país em relação à pandemia.

Abaixo vocês terão a oportunidade de saber a origem da obtenção de dados e do desenrolar da pesquisa.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [ ]:
df.head()

  iso_code continent  ... hospital_beds_per_thousand life_expectancy
0      AFG      Asia  ...                        0.5           64.83
1      AFG      Asia  ...                        0.5           64.83
2      AFG      Asia  ...                        0.5           64.83
3      AFG      Asia  ...                        0.5           64.83
4      AFG      Asia  ...                        0.5           64.83

[5 rows x 34 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28243 entries, 0 to 28242
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   iso_code                         28179 non-null  object
 1   continent                        27991 non-null  object
 2   location                         28243 non-null  object
 3   date                             28243 non-null  object
 4   total_cases                      28019 non-null  float64
 5   new_cases                        28019 non-null  float64
 6   total_deaths                     28019 non-null  float64
 7   new_deaths                       28019 non-null  float64
 8   total_cases_per_million          27955 non-null  float64
 9   new_cases_per_million            27955 non-null  float64
 10  total_deaths_per_million         27955 non-null  float64
 11  new_deaths_per_million           27955 non-null  float64
 12  total_tests                      8364 non-null   float64
 13  new_tests                        7913 non-null   float64
 14  total_tests_per_thousand         8364 non-null   float64
 15  new_tests_per_thousand           7913 non-null   float64
 16  new_tests_smoothed               8969 non-null   float64
 17  new_tests_smoothed_per_thousand  8969 non-null   float64
 18  tests_units                      9603 non-null   object
 19  stringency_index                 22676 non-null  float64
 20  population                       28179 non-null  float64
 21  population_density               27001 non-null  float64
 22  median_age                       25477 non-null  float64
 23  aged_65_older                    25114 non-null  float64
 24  aged_70_older                    25346 non-null  float64
 25  gdp_per_capita                   25184 non-null  float64
 26  extreme_poverty                  16832 non-null  float64
 27  cvd_death_rate                   25507 non-null  float64
 28  diabetes_prevalence              26340 non-null  float64
 29  female_smokers                   20382 non-null  float64
 30  male_smokers                     20144 non-null  float64
 31  handwashing_facilities           11556 non-null  float64
 32  hospital_beds_per_thousand       23282 non-null  float64
 33  life_expectancy                  27849 non-null  float64
dtypes: float64(29), object(5)
memory usage: 7.3+ MB